  <section class="main-header"></section>

      <h1>ようこそ独り言のページへ</h1>
      
      <p>
        このサイトは、日頃気になることや不満を投稿するサイトです。<br>
      </p>
      <p>
        日頃の思いをぶつけて、ストレス発散しましょう。<br>
      </p>
      <br>
      <br>
      
      <p>
        この世の中はありとあらゆる理不尽と不公平でできている...<br>
        大声で叫びたくても叫べない毎日...<br>
        嫌いな名前を藁人形に書いて突き刺す毎日...<br>
        意味不明はクレームにペコペコする毎日...<br>
        そんなモヤモヤ、イライラから解放されませんか？<br>
      </p>
  
    <section class="function">
      <h2>提供サービス</h2>
      <div class="function-images">
        
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <%= image_tag("tweet.jpg", :size => "130x130") %>
            <p>つぶやき投稿</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <%= image_tag("angry.png", :size => "130x130") %>
            <p>怒りのつぶやき投稿</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <%= image_tag("annoying.jpg", :size => "130x130") %>
            <p>悩み・疑問投稿</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <%= image_tag("annoying.jpg", :size => "130x130") %>
            <p>その他</p>
          </div>
        </div>
      </div>
</section>

  <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">TOP</a></p>
  </div>